USE [schoolmanager]
GO
/****** Object:  Table [dbo].[students]    Script Date: 1/29/2026 8:00:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([name], [email], [id]) VALUES (N'Mì cay', N'lenvanhai123@gmail.com', 15)
SET IDENTITY_INSERT [dbo].[students] OFF
GO
